<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/css/owl.carousel.min.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='admin/css/bootstrap.min.css')}}">
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static',filename='admin/css/style.css')}}">
    {%block extraCSS%}
    {%endblock%}
    <title>Admin Home</title>
  </head>
  <body>

    {%block nav%}
    {%endblock nav%}
    <main>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                {%block content%}
                {%endblock content%}
            </div>
        </div>
    </div>
    </main>
    <script src="{{url_for('static',filename='admin/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin/js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin/js/main.js')}}"></script>
  </body>
</html>